---
import GitHub from "./icons/tools/GitHub.astro";
import Link from "./icons/Link.astro";
// import LinkButton from "./util/LinkButton.astro";

import { PROJECTS } from "./DATA";
---

<div class="flex flex-col gap-y-16">
  {
    PROJECTS.map(
      ({ image, title, subtitle, description, link, github, detail, tags }) => (
        <article class="flex flex-col space-x-0 space-y-8 group md:flex-row md:space-x-8 md:space-y-0">
          <div class="w-full md:w-1/4">
            <div class="relative flex flex-col items-center col-span-6 row-span-5 gap-8 transition duration-500 ease-in-out transform shadow-xl overflow-clip rounded-xl sm:rounded-xl md:group-hover:-translate-y-1 md:group-hover:shadow-2xl lg:border lg:border-gray-800 lg:hover:border-gray-700 lg:hover:bg-gray-800/50">
              <img
                alt={title}
                class="object-cover object-top w-full h-56 transition duration-500 sm:h-full md:scale-110 md:group-hover:scale-105"
                loading="lazy"
                src={image}
              />
            </div>
          </div>

          <div class="w-full md:w-3/4">
            <div class="flex justify-between items-center">
              <h3 class="text-2xl font-bold text-gray-800 dark:text-gray-100">
                {title}
              </h3>
              <div class="flex justify-center items-center gap-4">
                {github && (
                  <a href={github} target="_blank">
                    <GitHub class="size-6" />
                  </a>
                )}
                {link && (
                  <a href={link} target="_blank">
                    <Link class="size-6" />
                  </a>
                )}
              </div>
            </div>
            <div class="text-sm text-gray-600 dark:text-gray-300 mt-[2px]">
              {subtitle}
            </div>
            <div class="flex flex-wrap mt-4">
              <div class="mb-2 text-gray-700 dark:text-gray-400 text-justify">
                {description}
                {detail && (
                  <a
                    href={detail}
                    class="hover:underline text-yellow-600 dark:text-yellow-200"
                    target="_blank"
                  >
                    Know More
                  </a>
                )}
              </div>

              <ul class="flex flex-row flex-wrap mt-2 gap-2">
                {tags.map((tag) => (
                  <li>
                    <span
                      class={`flex gap-x-2 rounded-full text-xs  py-1 px-2 text-yellow-600 bg-gray-100 border border-gray-300 dark:bg-gray-800 dark:border-gray-600 dark:text-yellow-200`}
                    >
                      {/* <tag.icon class="size-4" /> */}
                      {tag.name}
                    </span>
                  </li>
                ))}
              </ul>
            </div>
          </div>
        </article>
      )
    )
  }
</div>
